body {
  background-color: lightblue;
}

.btn:hover {
  cursor: pointer;
}

/* ================= */
/*       Start       */
/* ================= */

#start {
  height: 90vh;
  font-family: "bungee", cursive;
  position: relative;
  color: #ce29f7;
}

#title {
  font-size: 8rem;
  perspective: 600px;
}

#title p {
  transform: rotateX(45deg);
  line-height: 0.75;
  color: #610079;
  text-align: center;
}

/* ================= */
/*        Game       */
/* ================= */

#start.playing {
  margin-top: -90vh;
  transition: margin-top 1000ms;
}

#start.playing + #game {
  display: flex;
  /* display: inline; */
}

#game {
  display: none;
}

#game .row {
  width: 100%;
}

.container {
  flex-wrap: wrap;
}

/* ================= */
/*        Card       */
/* ================= */

.game-card-wrapper {
  perspective: 600px;
  width: 75%;
  position: relative;
  margin: 0.28rem auto;
  padding-bottom: 75%;
  /* padding-bottom: 75%; */
}

.game-card-wrapper:hover {
  cursor: pointer;
}

.game-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1000ms;
}

.game-card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
}

.front {
  font-size: 3rem;
  background: linear-gradient(150deg, red, orange, yellow, green, blue);
}

.back {
  transform: rotateY(180deg);
}

.back > img {
  height: 100%;
  width: auto;
}

.front > img {
  height: 100%;
  width: auto;
}

/* ================= */
/*        End        */
/* ================= */

#end {
  display: none;
}

@media (max-width: 992px) {
  .game-card-wrapper {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media (max-width: 992px) {
  .game-card-wrapper {
    width: 120%;
    padding-bottom: 120%;
  }
}
